
body {
    background-color: #FFFFFF;
}
.navbar-brand img{
    width: 142px;
    height: 30px;
    padding-left: 25px;
}
.form-control {
    background-image: url('/images/search-icon.svg');
    background-repeat: no-repeat;
    border:none;
    padding-left: 20px;
    background-size: 16px;
    align-items: center;
    background-position:left;
}
.search{
    border: none;
    padding-left: 75px;
}
/* .nav-item {
    padding-top: 28px;
    padding-left: 924px;
} */

.grid{
    display: flex;
    justify-content: space-between;
}